@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global layout */
html, body {
  height: 100%;
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 40%;
  padding: 0;
  background-color: #fafafa;
  color: #373737;
  font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
}

.leftone {
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
}

.rightone{
  text-align: right;
}

.centerone{
  text-align: center;

}


.navbar{
  text-align: left;
}

/* Smooth fade-in for sections */
section {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 0.6s ease-out forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Link style */
a {
  text-decoration: none;
  color: inherit;
}

/* Add smooth transitions */
* {
  transition: color 0.3s ease, background-color 0.3s ease;
}
